#carousel-header {
    width: 100%;
    height: 94vh;
}

.header__slider {
    width: 100%;
    height: 100%;
    background-image: url(../img/header_slider_1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}