#carousel-header {
    width: 100%;
    height: 94vh;
}

.header__slider, .header__slider2, .header__slider3 {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__slider {
    background-image: url(../img/imagenes-carousel/remodelacion_oficina_abogados.png);
    background-position: bottom;
}

.header__slider2 {
    background-image: url(../img/imagenes-carousel/remodelacion-cocina.jpg);
}

.header__slider3 {
    background-image: url(../img/imagenes-carousel/showroom_sym.jpg);
}