body {
    font-family: 'Open Sans', sans-serif;
}

.cotizador {
    width: 90%;
}

.cotizador__tittle {
    color: $color-principal;
    font-weight: 700;
}

.cotizador__subtittle {
    color:#1722BB;
    font-weight: 300;
    font-size: 1rem;
}


.cotizador__table {
    background-color: #E9F5FE;
    width: 100%;
    height: 100%;
    padding: 5px 15px 10px 15px;
}

.subindice {
    vertical-align: super;
    font-size: 0.7rem;
    font-weight: 400;
}

.pregunta {
    margin: 0;
    padding: 10px;
    color: #1722BB;
    font-size: 0.9rem;
    font-weight: 500;
}

.cotizador__table input {
    width: 100%;
    min-height: 30px;
    border: none;
    padding-left: 20px;
    color: $color-principal;
    font-size: 1rem;
    font-weight: 700;
}

.cotizador__table select {
    border: none;
    height: 30px;
    color: rgba($color: $color-principal, $alpha: 0.2);
    font-weight: 700;
    padding-left: 20px;
    background-color: #fff;
}

.lugar-select {
    width: 100%;
}

.btn__cotizar {
    border: none;
    border-radius: 30px;
    background-color: white;
    color: #1722BB;
    font-size: 1rem;
    font-weight: 300;
    padding: 10px 30px;
    box-shadow: 0 0 5px #779;
    position: absolute;
    right: 40px;
    bottom: -10px;
    box-shadow: 0 0 12px #999;
}

.cotizador__header {
    width: 100%;
    padding: 10px 0 10px 0px;
}


@media (min-width: 1400px) {
    .pregunta {
        font-size: 1.3rem;
    }

    .cotizador__table select, .cotizador__table input {
        min-height: 40px;
        margin-bottom: 20px;
    }

    .btn__cotizar {
        font-size: 1.5rem;
    }
}



@media (min-width: 1600px) {
    .pregunta {
        font-size: 1.5rem;
    }
}