body {
    font-family: 'Open Sans', sans-serif;
}

section {
    margin-top: 50px;
}

p {
    color: $color-principal;
    margin: 0;
}

h1,h2,h3,h4,h5 {
    margin: 0;
    color: $color-principal;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 300;
    font-size: 0.9rem;
}

h3 {
    font-weight: 700;
    margin-top: 30px;
    font-size: 1.5rem;
}

.bg__image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width:1024px) {

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.75rem;
        margin-top: 0;
    }
}