@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

section {
  margin-top: 50px;
  margin-bottom: 60px;
}

p {
  color: #074f5c;
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  color: #074f5c;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

h2 {
  font-weight: 300;
  font-size: 0.9rem;
}

h3 {
  font-weight: 700;
  margin-top: 30px;
  font-size: 1.2rem;
}

.bg__image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.75rem;
    margin-top: 0;
  }
}
@keyframes fadein-1 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  87% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein-2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-3 {
  0% {
    opacity: 0;
  }
  53% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  87% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-4 {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein-5 {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  9% {
    opacity: 1;
  }
  12% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-6 {
  0% {
    opacity: 0;
  }
  9% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  14% {
    opacity: 1;
  }
  18% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-7 {
  0% {
    opacity: 0;
  }
  14% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  19% {
    opacity: 1;
  }
  23% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-8 {
  0% {
    opacity: 0;
  }
  19% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-9 {
  0% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  29% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-10 {
  0% {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  38% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-11 {
  0% {
    opacity: 0;
  }
  34% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  39% {
    opacity: 1;
  }
  43% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-12 {
  0% {
    opacity: 0;
  }
  39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  44% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-13 {
  0% {
    opacity: 0;
  }
  44% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-14 {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  54% {
    opacity: 1;
  }
  58% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-15 {
  0% {
    opacity: 0;
  }
  54% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  59% {
    opacity: 1;
  }
  63% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-16 {
  0% {
    opacity: 0;
  }
  59% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  64% {
    opacity: 1;
  }
  68% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-17 {
  0% {
    opacity: 0;
  }
  64% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  69% {
    opacity: 1;
  }
  73% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-18 {
  0% {
    opacity: 0;
  }
  69% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  74% {
    opacity: 1;
  }
  78% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-19 {
  0% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  79% {
    opacity: 1;
  }
  83% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-20 {
  0% {
    opacity: 0;
  }
  79% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  84% {
    opacity: 1;
  }
  88% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-21 {
  0% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  89% {
    opacity: 1;
  }
  93% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-22 {
  0% {
    opacity: 0;
  }
  89% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  94% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-23 {
  0% {
    opacity: 0;
  }
  94% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
header {
  margin-top: 56px;
}

.container-90 {
  width: 100%;
}

header h1 {
  font-size: 2rem;
}

.tittle__header {
  color: white;
  font-size: 2.5rem;
  right: 50px;
  bottom: 50px;
}

@media (min-width: 1200px) {
  .container-90 {
    width: 80%;
    margin: auto;
  }

  .tittle__header {
    font-size: 4rem;
  }
}
@media (min-width: 1400px) {
  header h1 {
    font-size: 2.5rem;
  }
}
footer {
  background-color: #090D3D;
  padding: 20px;
}

.fono, .direccion, .mail, footer h4 {
  color: white;
}

footer h4 {
  font-weight: 700;
}

.transbank__logo {
  width: 50%;
}

.logo__footer {
  width: 70%;
}

.contacto {
  text-align: center;
  margin-bottom: 40px;
}

.logo__footer-container {
  margin-bottom: 40px;
}

.trans__container {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .contacto {
    text-align: left;
    margin-bottom: 0px;
  }

  .footer {
    padding: 40px;
  }

  .logo__footer-container {
    margin-bottom: 0px;
  }

  .trans__container {
    margin-bottom: 0px;
  }
}
.nav__btns {
  font-weight: 300;
  color: #074f5c;
  padding: 2px 10px;
}

.nav__btns:hover {
  color: darkblue;
  font-weight: 500;
  text-decoration: none;
}

nav img {
  width: 150px;
}

@media (min-width: 992px) {
  .nav__btns {
    border-right: 1px solid #074f5c;
  }

  .nav__btns:last-child {
    border-right: none;
  }
}
@media (min-width: 1367px) {
  nav img {
    width: 200px;
  }
}
.servicios__descripciones {
  margin-top: 20px;
}

.servicios__container {
  padding: 30px;
}

.br {
  display: block;
}

@media (min-width: 576px) {
  .servicios__descripciones p {
    margin-top: 10px;
  }

  .br {
    display: none;
  }
}
.about-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-img-1 {
  background-image: url(../img/about-img-1.jpg);
  min-height: 400px;
}

.about-img-2 {
  background-image: url(../img/portafolio/Quincho_HL/MG2013v2.jpg);
  height: 200px;
}

.about-img-3 {
  background-image: url(../img/portafolio/Cocina_MQ/Principal.jpg);
  height: 200px;
}

.about-img-2, .about-img-3 {
  width: 48%;
}

.somos__text {
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}

.somos__text p {
  margin-bottom: 15px;
  line-height: 20px;
}

.somos__text p:last-child {
  margin-bottom: 0px;
}

.confiado .img-fluid {
  max-height: 120px;
}

#somos {
  padding-left: 20px;
}

.logo {
  margin-top: 40px;
}

.section-testimonios .container {
  border-top: 2px solid #ccc;
  padding: 40px 0;
}
.section-testimonios .container .testimonio-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section-testimonios .container .testimonios__img-1, .section-testimonios .container .testimonios__img-2, .section-testimonios .container .testimonios__img-3 {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 75px;
}
@media (min-width: 768px) {
  .section-testimonios .container .testimonios__img-1, .section-testimonios .container .testimonios__img-2, .section-testimonios .container .testimonios__img-3 {
    width: 120px;
    height: 120px;
    border-radius: 100px;
  }
}
.section-testimonios .container .testimonios__img-1 {
  background-image: url(../img/testimonios/Carolina_Varela_V.jpeg);
}
.section-testimonios .container .testimonios__img-2 {
  background-image: url(../img/testimonios/Javiera_Huerta_C.jpeg);
}
.section-testimonios .container .testimonios__img-3 {
  background-image: url(../img/testimonios/Juan_Antonio_Tellez.jpg);
}
.section-testimonios .container .sujeto__nombre {
  margin-top: 5px;
  font-weight: 700;
  font-size: 14px;
}
@media (min-width: 768px) {
  .section-testimonios .container .sujeto__nombre {
    font-size: 18px;
  }
}
.section-testimonios .container .testimonios__text {
  width: 80%;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .section-testimonios .container .testimonios__text {
    width: 60%;
  }
}
.section-testimonios .container .testimonio {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 12px;
  font-style: italic;
}
@media (min-width: 768px) {
  .section-testimonios .container .testimonio {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
  }
}
.section-testimonios .container .carousel-control-next-icon {
  background-image: url(../img/chevron-right-solid.svg);
}
.section-testimonios .container .carousel-control-prev-icon {
  background-image: url(../img/chevron-left-solid.svg);
}

@media (min-width: 768px) {
  .testimonio {
    margin-bottom: 0px;
  }

  .testimonios__img-1, .testimonios__img-2, .testimonios__img-3 {
    width: 140px;
    height: 140px;
  }
}
.proyectos__container {
  margin-top: 50px;
}

.proyecto {
  width: 100%;
  height: 100%;
}

.proyectos__container {
  margin-top: 20px;
}

.proyectos__container h2 a {
  color: red;
  text-decoration: none;
}

.proyectos__container h2 a:hover {
  color: lightcoral;
  text-decoration: none;
}

.proyectos__galeria {
  width: 100%;
  height: 80vh;
}

.galeria__img-1 {
  width: 29%;
  height: 30%;
  background-image: url(../img/imagenes-galeria/cocina-ja.jpg);
  top: 0;
  left: 0;
  z-index: 0;
}

.galeria__img-2 {
  width: 40%;
  height: 48%;
  background-image: url(../img/imagenes-galeria/remodelacion-oficina-abogados.jpg);
  top: 0;
  left: 30%;
}

.galeria__img-3 {
  width: 29%;
  height: 15%;
  background-image: url(../img/imagenes-galeria/remodelacion-tienda-michael-kors.jpg);
  top: 0;
  right: 0;
}

.galeria__img-4 {
  width: 29%;
  height: 48%;
  background-image: url(../img/imagenes-galeria/BañoNB.jpg);
  top: 32%;
}

.galeria__img-5 {
  width: 29%;
  height: 30%;
  background-image: url(../img/imagenes-galeria/remodelacion-tienda-saville.jpg);
  top: 18%;
  right: 0;
}

.galeria__img-6 {
  width: 59%;
  height: 18%;
  background-image: url(../img/imagenes-galeria/diseno-arquitectura.jpg);
  bottom: 0;
  left: 0;
}

.galeria__img-7 {
  width: 29%;
  height: 30%;
  background-image: url(../img/imagenes-galeria/remodelacion-tienda-polo-ralph.jpg);
  bottom: 20%;
  left: 30%;
}

.galeria__img-8 {
  width: 40%;
  height: 50%;
  background-image: url(../img/imagenes-galeria/remodelacion-showroom-sym.jpg);
  bottom: 0;
  right: 0;
}

.galeria__info {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all ease 1s;
}
.galeria__info:hover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: all ease-in-out 1s;
  -webkit-transition: all;
  cursor: pointer;
}

.proyecto__tittle {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.proyecto__lugar {
  color: white;
  font-size: 1rem;
  text-align: center;
}

.t__margin {
  margin-top: 120px;
}

.portafolio__proyecto {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.portafolio__proyecto-1 {
  background-image: url(../img/portafolio/Chavez_Awad_Contreras_y_Schurmann_Abogados/principal.jpg);
}
.portafolio__proyecto-2 {
  background-image: url(../img/portafolio/Cocina_JA/Principal.jpg);
}
.portafolio__proyecto-3 {
  background-image: url(../img/portafolio/Cocina_MQ/Principal.jpg);
}
.portafolio__proyecto-4 {
  background-image: url(../img/portafolio/Garrigues_Abogados/Principal.jpg);
}
.portafolio__proyecto-5 {
  background-image: url(../img/portafolio/Michael_Kors/Principal.jpg);
}
.portafolio__proyecto-6 {
  background-image: url(../img/portafolio/Polo_Ralph_Lauren_Casa_Costanera/Principal.jpg);
}
.portafolio__proyecto-7 {
  background-image: url(../img/portafolio/Prosegur_SA/Principal.jpg);
}
.portafolio__proyecto-8 {
  background-image: url(../img/portafolio/Showroom_SyM/Principal.jpg);
}
.portafolio__proyecto-9 {
  background-image: url(../img/portafolio/Quincho_HL/MG2013v2.jpg);
}
.portafolio__proyecto-10 {
  background-image: url(../img/portafolio/bano-NB/bano-1.jpg);
}
.portafolio__proyecto-11 {
  background-image: url(../img/portafolio/Quincho-MM/quincho-3.jpg);
}
.portafolio__proyecto-12 {
  background-image: url(../img/portafolio/Saville-Row-Mall-Vivo-Imperio/Principal.jpg);
}

.portafolio__text ul {
  padding-left: 20px;
  padding-top: 20px;
}

.portafolio__text ul li {
  color: #074f5c;
}

.detalles {
  color: white;
}
.detalles:hover {
  color: #ffa800;
}

.portafolio__btn {
  display: flex;
  justify-content: flex-end;
}

.btn__modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0;
  padding: 0;
}

.btn__modal:hover {
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

.modal-dialog {
  max-width: 100%;
}

.btn__volver {
  padding: 2px 20px;
  border: solid 1px #074f5c;
  color: #074f5c;
  background-color: #fff;
  border-radius: 7px;
  bottom: 20px;
  right: 40px;
}

.portafolio__text h3 {
  margin: 20px 0 0 0;
}

.all__projects li {
  color: #074f5c;
  font-weight: 700;
}

.d-portafolio {
  display: block;
}

@media (min-width: 600px) {
  .modal-dialog {
    max-width: 80%;
  }
}
@media (min-width: 992px) {
  .portafolio__text h3 {
    margin: 0;
  }
}
.carousel__proyecto-1-1 {
  background-image: url(../img/portafolio/Chavez_Awad_Contreras_y_Schurmann_Abogados/principal.jpg);
}
.carousel__proyecto-1-2 {
  background-image: url(../img/portafolio/Chavez_Awad_Contreras_y_Schurmann_Abogados/IMG_2311.jpg);
}
.carousel__proyecto-1-3 {
  background-image: url(../img/portafolio/Chavez_Awad_Contreras_y_Schurmann_Abogados/IMG_2309.jpg);
}

.carousel__proyecto-2-1 {
  background-image: url(../img/portafolio/Cocina_JA/DSC03304.jpg);
}
.carousel__proyecto-2-2 {
  background-image: url(../img/portafolio/Cocina_JA/DSC03381.jpg);
}
.carousel__proyecto-2-3 {
  background-image: url(../img/portafolio/Cocina_JA/Principal.jpg);
}

.carousel__proyecto-3-1 {
  background-image: url(../img/portafolio/Cocina_MQ/Principal.jpg);
}
.carousel__proyecto-3-2 {
  background-image: url(../img/portafolio/Cocina_MQ/DSC06911.jpg);
}
.carousel__proyecto-3-3 {
  background-image: url(../img/portafolio/Cocina_MQ/DSC06944.jpg);
}

.carousel__proyecto-4-1 {
  background-image: url(../img/portafolio/Garrigues_Abogados/Principal.jpg);
}
.carousel__proyecto-4-2 {
  background-image: url(../img/portafolio/Garrigues_Abogados/IMG_4305.jpg);
}
.carousel__proyecto-4-3 {
  background-image: url(../img/portafolio/Garrigues_Abogados/IMG_4306.jpg);
}

.carousel__proyecto-5-1 {
  background-image: url(../img/portafolio/Michael_Kors/Principal.jpg);
}
.carousel__proyecto-5-2 {
  background-image: url(../img/portafolio/Michael_Kors/IMG_5717.jpg);
}
.carousel__proyecto-5-3 {
  background-image: url(../img/portafolio/Michael_Kors/IMG_5718.jpg);
}

.carousel__proyecto-6-1 {
  background-image: url(../img/portafolio/Polo_Ralph_Lauren_Casa_Costanera/Principal.jpg);
}
.carousel__proyecto-6-2 {
  background-image: url(../img/portafolio/Polo_Ralph_Lauren_Casa_Costanera/IMG_3787.jpg);
}
.carousel__proyecto-6-3 {
  background-image: url(../img/portafolio/Polo_Ralph_Lauren_Casa_Costanera/IMG_3788.jpg);
}

.carousel__proyecto-7-1 {
  background-image: url(../img/portafolio/Prosegur_SA/Principal.jpg);
}
.carousel__proyecto-7-2 {
  background-image: url(../img/portafolio/Prosegur_SA/IMG_4268.jpg);
}
.carousel__proyecto-7-3 {
  background-image: url(../img/portafolio/Prosegur_SA/IMG_4274.jpg);
}

.carousel__proyecto-8-1 {
  background-image: url(../img/portafolio/Showroom_SyM/Principal.jpg);
}
.carousel__proyecto-8-2 {
  background-image: url(../img/portafolio/Showroom_SyM/DSC03202.jpg);
}
.carousel__proyecto-8-3 {
  background-image: url(../img/portafolio/Showroom_SyM/DSC03222.jpg);
}

.carousel__proyecto-9-1 {
  background-image: url(../img/portafolio/Quincho_HL/MG1767.jpg);
}
.carousel__proyecto-9-2 {
  background-image: url(../img/portafolio/Quincho_HL/MG1998v2.jpg);
}
.carousel__proyecto-9-3 {
  background-image: url(../img/portafolio/Quincho_HL/MG2013v2.jpg);
}

.carousel__proyecto-10-1 {
  background-image: url(../img/portafolio/bano-NB/bano-1.jpg);
}
.carousel__proyecto-10-2 {
  background-image: url(../img/portafolio/bano-NB/bano-2.jpg);
}
.carousel__proyecto-10-3 {
  background-image: url(../img/portafolio/bano-NB/bano-1.jpg);
}

.carousel__proyecto-11-1 {
  background-image: url(../img/portafolio/Quincho-MM/quincho-1.jpg);
}
.carousel__proyecto-11-2 {
  background-image: url(../img/portafolio/Quincho-MM/quincho-2.jpg);
}
.carousel__proyecto-11-3 {
  background-image: url(../img/portafolio/Quincho-MM/quincho-3.jpg);
}

.carousel__proyecto-12-1 {
  background-image: url(../img/portafolio/Saville-Row-Mall-Vivo-Imperio/IMG-4368.jpg);
}
.carousel__proyecto-12-2 {
  background-image: url(../img/portafolio/Saville-Row-Mall-Vivo-Imperio/IMG-4377.jpg);
}
.carousel__proyecto-12-3 {
  background-image: url(../img/portafolio/Saville-Row-Mall-Vivo-Imperio/Principal.jpg);
}

.carousel__proyecto-todos-18 {
  background-image: url(../img/portafolio/Todos/3d.jpg);
}
.carousel__proyecto-todos-8 {
  background-image: url(../img/portafolio/Todos/bano-bupa.jpg);
}
.carousel__proyecto-todos-1 {
  background-image: url(../img/portafolio/Todos/bano-prosegur.jpg);
}
.carousel__proyecto-todos-9 {
  background-image: url(../img/portafolio/Todos/cocina-JA.jpg);
}
.carousel__proyecto-todos-19 {
  background-image: url(../img/portafolio/Todos/cocina-MQ.jpg);
}
.carousel__proyecto-todos-17 {
  background-image: url(../img/portafolio/Todos/cocina-PS.jpg);
}
.carousel__proyecto-todos-12 {
  background-image: url(../img/portafolio/Todos/industrial.jpg);
}
.carousel__proyecto-todos-10 {
  background-image: url(../img/portafolio/Todos/oficina-garrigues.jpg);
}
.carousel__proyecto-todos-5 {
  background-image: url(../img/portafolio/Todos/oficina.jpg);
}
.carousel__proyecto-todos-16 {
  background-image: url(../img/portafolio/Todos/quincho-hl.jpg);
}
.carousel__proyecto-todos-11 {
  background-image: url(../img/portafolio/Todos/quincho-jv.jpg);
}
.carousel__proyecto-todos-6 {
  background-image: url(../img/portafolio/Todos/quincho-mm.jpg);
}
.carousel__proyecto-todos-15 {
  background-image: url(../img/portafolio/Todos/retail-kors.jpg);
}
.carousel__proyecto-todos-4 {
  background-image: url(../img/portafolio/Todos/retail-polo.jpg);
}
.carousel__proyecto-todos-7 {
  background-image: url(../img/portafolio/Todos/retail-polo-2.jpg);
}
.carousel__proyecto-todos-13 {
  background-image: url(../img/portafolio/Todos/retail-saville.jpg);
}
.carousel__proyecto-todos-2 {
  background-image: url(../img/portafolio/Todos/retail-saville-2.jpg);
}
.carousel__proyecto-todos-3 {
  background-image: url(../img/portafolio/Todos/retail-saville-3.jpg);
}
.carousel__proyecto-todos-14 {
  background-image: url(../img/portafolio/Todos/showroom-sym.jpg);
}
.carousel__proyecto-todos-20 {
  background-image: url(../img/portafolio/Todos/bano-NB.jpg);
}

.portafolio__img {
  height: 100%;
  min-height: 200px;
  width: 100%;
}

.fadein-1 {
  -webkit-animation: fadein-1 12s infinite;
  -moz-animation: fadein-1 12s infinite;
  -ms-animation: fadein-1 12s infinite;
  -o-animation: fadein-1 12s infinite;
  animation: fadein-1 12s infinite;
}

.fadein-2 {
  -webkit-animation: fadein-2 12s infinite;
  -moz-animation: fadein-2 12s infinite;
  -ms-animation: fadein-2 12s infinite;
  -o-animation: fadein-2 12s infinite;
  animation: fadein-2 12s infinite;
}

.fadein-3 {
  -webkit-animation: fadein-3 12s infinite;
  -moz-animation: fadein-3 12s infinite;
  -ms-animation: fadein-3 12s infinite;
  -o-animation: fadein-3 12s infinite;
  animation: fadein-3 12s infinite;
}

.fadein-4 {
  -webkit-animation: fadein-4 60s infinite;
  -moz-animation: fadein-4 60s infinite;
  -ms-animation: fadein-4 60s infinite;
  -o-animation: fadein-4 60s infinite;
  animation: fadein-4 60s infinite;
}

.fadein-5 {
  -webkit-animation: fadein-5 60s infinite;
  -moz-animation: fadein-5 60s infinite;
  -ms-animation: fadein-5 60s infinite;
  -o-animation: fadein-5 60s infinite;
  animation: fadein-5 60s infinite;
}

.fadein-6 {
  -webkit-animation: fadein-6 60s infinite;
  -moz-animation: fadein-6 60s infinite;
  -ms-animation: fadein-6 60s infinite;
  -o-animation: fadein-6 60s infinite;
  animation: fadein-6 60s infinite;
}

.fadein-7 {
  -webkit-animation: fadein-7 60s infinite;
  -moz-animation: fadein-7 60s infinite;
  -ms-animation: fadein-7 60s infinite;
  -o-animation: fadein-7 60s infinite;
  animation: fadein-7 60s infinite;
}

.fadein-8 {
  -webkit-animation: fadein-8 60s infinite;
  -moz-animation: fadein-8 60s infinite;
  -ms-animation: fadein-8 60s infinite;
  -o-animation: fadein-8 60s infinite;
  animation: fadein-8 60s infinite;
}

.fadein-9 {
  -webkit-animation: fadein-9 60s infinite;
  -moz-animation: fadein-9 60s infinite;
  -ms-animation: fadein-9 60s infinite;
  -o-animation: fadein-9 60s infinite;
  animation: fadein-9 60s infinite;
}

.fadein-10 {
  -webkit-animation: fadein-10 60s infinite;
  -moz-animation: fadein-10 60s infinite;
  -ms-animation: fadein-10 60s infinite;
  -o-animation: fadein-10 60s infinite;
  animation: fadein-10 60s infinite;
}

.fadein-11 {
  -webkit-animation: fadein-11 60s infinite;
  -moz-animation: fadein-11 60s infinite;
  -ms-animation: fadein-11 60s infinite;
  -o-animation: fadein-11 60s infinite;
  animation: fadein-11 60s infinite;
}

.fadein-12 {
  -webkit-animation: fadein-12 60s infinite;
  -moz-animation: fadein-12 60s infinite;
  -ms-animation: fadein-12 60s infinite;
  -o-animation: fadein-12 60s infinite;
  animation: fadein-12 60s infinite;
}

.fadein-13 {
  -webkit-animation: fadein-13 60s infinite;
  -moz-animation: fadein-13 60s infinite;
  -ms-animation: fadein-13 60s infinite;
  -o-animation: fadein-13 60s infinite;
  animation: fadein-13 60s infinite;
}

.fadein-14 {
  -webkit-animation: fadein-14 60s infinite;
  -moz-animation: fadein-14 60s infinite;
  -ms-animation: fadein-14 60s infinite;
  -o-animation: fadein-14 60s infinite;
  animation: fadein-14 60s infinite;
}

.fadein-15 {
  -webkit-animation: fadein-15 60s infinite;
  -moz-animation: fadein-15 60s infinite;
  -ms-animation: fadein-15 60s infinite;
  -o-animation: fadein-15 60s infinite;
  animation: fadein-15 60s infinite;
}

.fadein-16 {
  -webkit-animation: fadein-16 60s infinite;
  -moz-animation: fadein-16 60s infinite;
  -ms-animation: fadein-16 60s infinite;
  -o-animation: fadein-16 60s infinite;
  animation: fadein-16 60s infinite;
}

.fadein-17 {
  -webkit-animation: fadein-17 60s infinite;
  -moz-animation: fadein-17 60s infinite;
  -ms-animation: fadein-17 60s infinite;
  -o-animation: fadein-17 60s infinite;
  animation: fadein-17 60s infinite;
}

.fadein-18 {
  -webkit-animation: fadein-18 60s infinite;
  -moz-animation: fadein-18 60s infinite;
  -ms-animation: fadein-18 60s infinite;
  -o-animation: fadein-18 60s infinite;
  animation: fadein-18 60s infinite;
}

.fadein-19 {
  -webkit-animation: fadein-19 60s infinite;
  -moz-animation: fadein-19 60s infinite;
  -ms-animation: fadein-19 60s infinite;
  -o-animation: fadein-19 60s infinite;
  animation: fadein-19 60s infinite;
}

.fadein-20 {
  -webkit-animation: fadein-20 60s infinite;
  -moz-animation: fadein-20 60s infinite;
  -ms-animation: fadein-20 60s infinite;
  -o-animation: fadein-20 60s infinite;
  animation: fadein-20 60s infinite;
}

.fadein-21 {
  -webkit-animation: fadein-21 60s infinite;
  -moz-animation: fadein-21 60s infinite;
  -ms-animation: fadein-21 60s infinite;
  -o-animation: fadein-21 60s infinite;
  animation: fadein-21 60s infinite;
}

.fadein-22 {
  -webkit-animation: fadein-22 60s infinite;
  -moz-animation: fadein-22 60s infinite;
  -ms-animation: fadein-22 60s infinite;
  -o-animation: fadein-22 60s infinite;
  animation: fadein-22 60s infinite;
}

.fadein-23 {
  -webkit-animation: fadein-23 60s infinite;
  -moz-animation: fadein-23 60s infinite;
  -ms-animation: fadein-23 60s infinite;
  -o-animation: fadein-23 60s infinite;
  animation: fadein-23 60s infinite;
}

@media (min-width: 768px) {
  .portafolio__img {
    height: 100%;
    min-height: none;
  }
}
.estadisticas__fondo {
  width: 100%;
  background-image: url(../img/edificio.jpg);
  background-size: cover;
  background-position: top center;
  display: flex;
  align-items: center;
  padding: 40px;
  min-height: 400px;
}
.estadisticas__fondo .estadisticas__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
}
.estadisticas__fondo .estadisticas__container .estadistica__container {
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .estadisticas__fondo .estadisticas__container .estadistica__container {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .estadisticas__fondo .estadisticas__container .estadistica__container {
    width: 25%;
  }
}
.estadisticas__fondo .estadisticas__container .estadistica__container p.estadistica {
  font-size: 40px;
  font-weight: 700;
}
.estadisticas__fondo .estadisticas__container .estadistica__container p.estadistica, .estadisticas__fondo .estadisticas__container .estadistica__container p.bajada__estadistica {
  color: white;
}
.estadisticas__fondo .estadisticas__container .estadistica__container:not(:first-child) {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .estadisticas__fondo .estadisticas__container .estadistica__container:not(:first-child) {
    margin-top: 0;
  }
}

.btn__todos {
  border: solid 1px #074f5c;
  padding: 20px 60px;
  border-radius: 50px;
  color: #074f5c;
  background-color: white;
  font-size: 1.3rem;
}
.btn__todos:hover {
  background-color: rgba(7, 79, 92, 0.2);
}

#carousel-header {
  width: 100%;
  height: 85vh;
}

.header__slider, .header__slider2, .header__slider3 {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__slider {
  background-image: url(../img/imagenes-carousel/polo.jpg);
  background-position: bottom;
}

.header__slider2 {
  background-image: url(../img/imagenes-carousel/remodelacion-cocina.jpg);
}

.header__slider3 {
  background-image: url(../img/imagenes-carousel/showroom_sym.jpg);
}

@media (min-width: 1000px) {
  #carousel-header {
    width: 100%;
    height: 92vh;
  }
}
body {
  font-family: "Open Sans", sans-serif;
}

.cotizador {
  width: 90%;
}

.cotizador__tittle {
  color: #074f5c;
  font-weight: 700;
}

.cotizador__subtittle {
  color: #1722BB;
  font-weight: 300;
  font-size: 1rem;
}

.cotizador__table {
  background-color: #E9F5FE;
  width: 100%;
  height: 100%;
  padding: 5px 15px 10px 15px;
}

.subindice {
  vertical-align: super;
  font-size: 0.7rem;
  font-weight: 400;
}

.pregunta {
  margin: 0;
  padding: 10px;
  color: #1722BB;
  font-size: 0.9rem;
  font-weight: 500;
}

.cotizador__table input {
  width: 100%;
  min-height: 30px;
  border: none;
  padding-left: 20px;
  color: #074f5c;
  font-size: 1rem;
  font-weight: 700;
}

.cotizador__table select {
  border: none;
  height: 30px;
  color: rgba(7, 79, 92, 0.2);
  font-weight: 700;
  padding-left: 20px;
  background-color: #fff;
}

.lugar-select {
  width: 100%;
}

.btn__cotizar {
  border: none;
  border-radius: 30px;
  background-color: white;
  color: #1722BB;
  font-size: 1rem;
  font-weight: 300;
  padding: 10px 30px;
  box-shadow: 0 0 5px #779;
  position: absolute;
  right: 40px;
  bottom: -10px;
  box-shadow: 0 0 12px #999;
}

.cotizador__header {
  width: 100%;
  padding: 10px 0 10px 0px;
}

@media (min-width: 1400px) {
  .pregunta {
    font-size: 1.3rem;
  }

  .cotizador__table select, .cotizador__table input {
    min-height: 40px;
    margin-bottom: 20px;
  }

  .btn__cotizar {
    font-size: 1.5rem;
  }
}
@media (min-width: 1600px) {
  .pregunta {
    font-size: 1.5rem;
  }
}
.cotizador__table-2 {
  background-color: #E9F5FE;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.cotizador-2 .pregunta {
  font-size: 1rem;
}

.cotizador__img {
  background-image: url(../img/cotizador__img.jpg);
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
