.about-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-img-1 {
    background-image: url(../img/about-img-1.jpg);
    min-height: 400px;
}

.about-img-2 {
    background-image: url(../img/about-img-2.jpg);
    height: 200px;
}

.about-img-3 {
    background-image: url(../img/about-img-3.jpg);
    height: 200px;
}

.about-img-2, .about-img-3 {
    width: 48%;
}

.somos__text {
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}


.somos__text p {
    margin-bottom: 15px;
    line-height: 20px;
}

.somos__text p:last-child {
    margin-bottom: 0px;
}

.confiado .img-fluid {
    max-height: 120px;
}

#somos {
    padding-left: 20px;
}