.carousel__proyecto-1 {

    &-1 {
        background-image: url(../img/portafolio/Chavez_Awad_Contreras_y_Schurmann_Abogados/principal.png);
        height: 100%;
    }
    
    &-2 {
        background-image: url(../img/portafolio/Chavez_Awad_Contreras_y_Schurmann_Abogados/IMG_2311.jpg);
        background-size: cover;
        height: 100%;
    }

    &-3 {
        background-image: url(../img/portafolio/Chavez_Awad_Contreras_y_Schurmann_Abogados/IMG_2309.jpg);
        background-size: cover;
        height: 100%;
    }
}