footer {
    background-color: #090D3D;
    padding: 40px;
}

.fono, .direccion, .mail, footer h4 {
    color: white;
}

footer h4 {
    font-weight: 700;
}

.transbank__logo {
    width: 50%;
}

.logo__footer {
    width: 70%;
}