.nav__btns {
    font-weight: 300;
    color: $color-principal;
    padding: 2px 10px;
    border-right: 1px solid $color-principal;
}

.nav__btns:hover {
    color: darkblue;
    font-weight: 500;
    text-decoration: none;
}

.nav__btns:last-child {
 border-right: none;
}