.portafolio__container {
    margin-top: 200px;
}

.portafolio__proyecto {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &-1 {
        background-image: url(../img/portafolio/Chavez_Awad_Contreras_y_Schurmann_Abogados/principal.png);
    }

    &-2 {
        background-image: url(../img/portafolio/Cocina_JA/principal.jpg);
    }

    &-3 {
        background-image: url(../img/portafolio/Cocina_MQ/Principal.jpg);
    }

    &-4 {
        background-image: url(../img/portafolio/Garrigues_Abogados/Principal.jpg);
    }

    &-5 {
        background-image: url(../img/portafolio/Michael_Kors/Principal.jpg);
    }

    &-6 {
        background-image: url(../img/portafolio/Polo_Ralph_Lauren_Casa_Costanera/Principal.jpg);
    }

    &-7 {
        background-image: url(../img/portafolio/Prosegur_SA/Principal.jpg);
    }

    &-8 {
        background-image: url(../img/portafolio/Showroom_SyM/Principal.jpg);
    }
}

.portafolio__btn {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.btn__modal {
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.0);
    border: none;
    margin: 0;
    padding: 0;
}

.btn__modal:hover {
    background-color: rgba($color: #000000, $alpha: 0.0);
    margin: 0;
    padding: 0;
}

.modal-dialog {
    max-width: 100%;
}

.modal-content {
    height: 500px;
}

.modal-footer {
    border: none;
}

.btn__volver {
    padding: 2px 20px;
    border: solid 1px $color-principal;
    color: $color-principal;
    background-color: #fff;
    border-radius: 7px;
}

@media (min-width: 600px) {
    .modal-dialog {
        max-width: 80%;
    }
}