.servicios__descripciones {
    margin-top: 20px;
}

.servicios__container {
    padding: 30px;
}

@media (min-width: 576px) {

    .servicios__descripciones p {
        margin-top: 10px;
    }
    
 }