
.servicios__descripciones {
    margin-top: 60px;
}

.servicios__descripciones p {
    margin-top: 10px;
}

.servicios__container p{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}