.testimonios__img-1, .testimonios__img-2, .testimonios__img-3 
    width: 150px
    height: 150px
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    border-radius: 75px


.testimonios__img-1 
    background-image: url(../img/testimonios/Carolina_Varela_V.jpeg)


.testimonios__img-2 
    background-image: url(../img/testimonios/Javiera_Huerta_C.jpeg)


.testimonios__img-3 
    background-image: url(../img/testimonios/Juan_Antonio_Tellez.jpg)


.sujeto__nombre 
   margin-top: 10px
   font-weight: 700


.testimonios__text 
    margin-top: 30px


.testimonio 
    margin-bottom: 30px


@media (min-width: 768px) 
    .testimonio
        margin-bottom: 0px
    

    .testimonios__img-1, .testimonios__img-2, .testimonios__img-3 
        width: 140px
        height: 140px
    
